{% extends "base.html.twig" %}

{% block title %}Editer un commentaire{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-secondary">Modifier</button>
{{ form_end(form) }}
<a href="{{ path('program_show', {slug: program.slug}) }}" class="btn btn-primary">Retour</a>
{% endblock %}