{% extends "base.html.twig" %}

{% block body %}
<main class="container">
    <div class="form mb-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class=" btn btn-secondary p-2 px-4">Add category</button>
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}