{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<main class="container">
    <h1 class="text-center">Créer new programme</h1>
    <div class="form mb-3 text-dark">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-secondary p-2 px-4">Ajouter une série</button>
        {{ form_end(form) }}
    </div>
    <a class="btn btn-light p-2 px-4" href="{{ path('program_index') }}">Retour programmes</a>

</main>
{% endblock %}