{% extends "layout.html.twig" %}

{% block body %}
<main class="container">
    <row class="header">
            <h1 class="text-center">Bienvenue !</h1>
        </columns>
        <h1>{{ program.title }} </h1>
        <p>vient d'être publiée sur Wild Séries !</p>
        <p>Résumé: {{program.summary }}
    </row>
</main>
{% endblock %}