// assets/styles/global.scss

// customize some Bootstrap variables
$primary:(#FFFFFF);
$secondary: (#98B6DA);
$dark: (#48515B);
$light: (#676767);







// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #FFFFFF;
}
